.ipynb_checkpoints/
**/.ipynb_checkpoints/
__pycache__/
**/__pycache__/
*.py[cod]
tmp/
figures/
lightning_logs/
*/slurm*out
*/job-train
job-scripts/
data/data-IG/
data/data-PDOS/
data/data-prediction/

